body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #2D2D2D;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5em;
    color: #66BB6A; /* A Minecraft green */
    text-shadow: 2px 2px #000000;
}

.status-container {
    margin: 20px 0;
    font-size: 1.2em;
}

#status {
    font-weight: bold;
    color: #FF5733; /* Offline color */
}

.button-container button {
    background-color: #4CAF50; /* A Minecraft-style green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}

.button-container button:hover {
    background-color: #45a049;
}

#stopButton {
    background-color: #f44336; /* A red color for stop */
}

#stopButton:hover {
    background-color: #da190b;
}

#statusButton {
    background-color: #2196F3; /* A blue color for status */
}

#statusButton:hover {
    background-color: #0b7dda;
}

.whitelist-container {
    margin-top: 30px;
}

#usernameInput {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    background-color: #333;
    color: #fff;
    width: 320px; /* Increased width for placeholder */
}

#whitelistButton {
    background-color: #55397E; /* A purple color */
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}

#whitelistButton:hover {
    background-color: #472e67;
}

#whitelist-message {
    margin-top: 15px;
    font-size: 1em;
    min-height: 1.2em; /* Reserve space for the message */
}